html {
  max-width: 70ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui
}

/* increase line-height for everything except headings */
body :not(:is(h1,h2,h3,h4,h5,h6)) {
  line-height: 1.50;
}

/* center the html postamble */
p.preamble {
    word-spacing: 15px;
}
p.postamble { text-align: center; }

label {
    width: 80%;
    display: inline-block;
    text-align: right;
}

/* Inspired by rose pine colorscheme */
body {
    background-color: #faf4ed;
    h1, h2, h3, h4, h5, h6 {
        color: #56949f;
    }
    p, li {
        color: #575279;
    }
    a {
        transition:.7s;
    }
    a:link {
        color: #ea9d34;
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    a:hover {
        color: #b4637a;
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    code {
        color: #907aa9;
    }
}

body:has(#dark:checked){
    background-color: #232136;
    h1, h2, h3, h4, h5, h6 {
        color: #9ccfd8;
    }
    p, li {
        color: #e0def4;
    }
    a {
        transition:.7s;
    }
    a:link {
        color: #f6c177;
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    a:hover {
        color: #eb6f92;
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    code {
        color: #c4a7e7;
    }
}
